Options +FollowSymLinks
RewriteEngine On
RewriteBase /
# Enable gzip (deflate) compression
AddOutputFilterByType DEFLATE text/html text/css application/x-javascript php_flag zlib.output_compression On 
