*{
	margin:0;
	padding:0
}
body{
	font-family:tahoma;
	font-size:12px;
	background-color:#fff;
}
select{
	border:0;
	outline:none
}
table{
	background-color:#f4f4f4
}
img{
	border: 0px;
	font-size: 0;
	line-height: 0;
	max-width: 100%;
}
.right{
	text-align:right;
	padding-right:20px
}
.title {
	font: 700 16px/37px arial;
	margin: 0 0 0 20px;
	background-color:#fff;
	text-indent:20px
}
.tt_small_390, .tt_small_110, .tt_small_10 {
background-position: -330px -155px;
}
.left {
	float: left;
}
.icon_thoitiet_big{
	background:url(images/icon_thoitiet_big.png) no-repeat;
	display:block;
}
.icon_thoitiet_small {
	background: url(images/icon_thoitiet_small.png) no-repeat;
	width: 45px;
	height: 36px;
}
.txt_doc_big {
	float: left;
	padding: 0 65px 0 5px;
	background: url(images/doc_big.gif) no-repeat right 12px;
	font: 400 72px arial;
}
.top10{
	padding-top:10px
}
.more_info_temp .list_news_dot_3x3_300 {
	color: #000;
	margin: 0;
	padding: 0;
	border: none;
}
.txt_14 {
	font-size: 14px;
}
.txt_666 {
	color: #666;
}


.clear{clear:both; font-size:0; line-height:0;}
.left{float:left;}
.right{float:right;}
html {
    -webkit-text-size-adjust: none;
}

.icon_thoitiet_big{
	background:url(images/icon_thoitiet_big.png) no-repeat;
}
.tt_big_340,
.tt_big_1{
	background-position: 0 0;
}
.tt_big_90,
.tt_big_2{
	background-position: 0 -80px;
}
.tt_big_3{
	background-position: 0 -160px;
}
.tt_big_300,
.tt_big_4{
	background-position: 0 -248px;
}
.tt_big_5{
	background-position: 0 -344px;
}
.tt_big_6{
	background-position: 0 -430px;
}
.tt_big_7{
	background-position: 0 -523px;
}
.tt_big_260,
.tt_big_8{
	background-position: -145px 5px;
}
.tt_big_40,
.tt_big_9{
	background-position: -145px -75px;
}
.tt_big_10{
	background-position: -145px -160px;
}
.tt_big_11{
	background-position: -145px -240px;
}
.tt_big_390,
.tt_big_110,
.tt_big_12{
	background-position: -145px -325px;
}
.tt_big_13{
	background-position: -145px -408px;
}
.tt_big_14{
	background-position: -145px -490px;
}
.tt_big_15{
	background-position: -295px  5px;
}
.tt_big_16{
	background-position: -295px -75px;
}
.tt_big_17{
	background-position: -295px -160px;
}
.tt_big_18{
	background-position: -295px -240px;
}
.tt_big_300,
.tt_big_270,
.tt_big_19{
	background-position: -295px -320px;
}
.tt_big_20{
	background-position: -295px -405px;
}
.tt_big_21{
	background-position: -295px -490px;
}
.tt_big_22{
	background-position: -295px -490px;
}
.tt_big_6lge,
.tt_big_23{
	background-position: -435px -5px;
}

.icon_thoitiet_small{
	background:url(images/icon_thoitiet_small.png) no-repeat;
	width:45px;
	height:36px;
}
.tt_small_6_lge,
.tt_small_340,
.tt_small_1{
	background-position: -120px -7px;
}
.tt_small_2{
	background-position: -120px -82px;
}
.tt_small_300,
.tt_small_3{
	background-position: -120px -155px;
}
.tt_small_90,
.tt_small_4{
	background-position: -120px -227px;
}
.tt_small_40,
.tt_small_5{
	background-position: -120px -300px;
}
.tt_small_6{
	background-position: -120px -373px;
}
.tt_small_7{
	background-position: -120px -445px;
}
.tt_small_8{
	background-position: -330px -5px;
}
.tt_small_260,
.tt_small_9{
	background-position: -330px -80px;
}
.tt_small_390,
.tt_small_110,
.tt_small_10{
	background-position: -330px -155px;
}
.tt_small_11{
	background-position: -330px -227px;
}
.tt_small_12{
	background-position: -330px -300px;
}
.tt_small_13{
	background-position: -330px -375px;
}
.tt_small_14{
	background-position: -330px -445px;
}
.tt_small_15{
	background-position: -554px -5px;
}
.tt_small_330,
.tt_small_270,
.tt_small_16{
	background-position: -543px -80px;
}
.tt_small_17{
	background-position: -543px -150px;
}
.tt_small_18{
	background-position: -543px -220px;
}
.tt_small_19{
	background-position: -543px -295px;
}
.tt_small_20{
	background-position: -543px -370px;
}
.tt_small_21{
	background-position: -543px -5px;
}
.tt_small_22{
	background-position: -710px -5px;
}
.tt_small_23{
	background-position: -710px -80px;
}
.block_info_temp{
	width:50%;
	float:left;
}
.more_info_temp{
	width:50%;
	float:right;
}
.more_info_temp .list_news_dot_3x3_300{
	color:#000;
	margin:0;
	padding:0;
	border:none;
}
.furture_tem{
	background:#dddddd;
}
.furture_tem p{
	padding:5px 10px;
}
.txt_decs_tt{
	width:100px;
	font:700 14px arial;
}
.block_txt_des_tt{
	float:left;
	width:15%;
	font:700 14px arial;
	padding:10px 0 0 0;
}
.block_txt_des_tt .txt_thoigian{
	padding:0 0 53px 0;
}
.block_txt_des_tt .txt_nhietdo{
	padding:0 0 10px 0;
}
.tt_detail{
	width:85%;
	float:left;
	padding:13px 0 0 0;
}
.tt_detail li{
	width:29%;
	float:left;
	border-left:1px solid #e2e2e3;
	padding:0 2%;
}
.tt_detail li .txt_center{
	padding-bottom:10px;
}
.txt_center{
	text-align:center;
}

.furture_tem {
	background: #dddddd;
	margin:0 10px 0 10px;
}
.furture_tem p {
	padding: 5px 10px;
}
.td_title{
	padding:10px 0 10px 0;
	text-align:left;
	font-weight:bold;
}
.td_content{
}
.td_content td,.td_content th{
	padding:10px 10px 10px 0;
	text-align:left;
	border-top:1px solid #e2e2e3
}
.source{
	font-size:11px;
	text-align:right;
	padding-right:10px;
	color:#666;
	padding-top:10px
}
.lb-v-dummy { width: 100%; display: block; height: 1px; }
.lb-h-dummy { height: 100%; display: block; width: 1px; }
.lb-clear { clear: both; }
.lb-wrap { z-index: 0; overflow: auto; position: relative; }
/*.lb-scrollbar-wrap { position: absolute; left: 0; top: 0; }*/
.lb-v-scrollbar { z-index: 1; position: absolute; right: 0px; top: 0px; width: 7px; height: 100%; background: #cfcfcf; opacity: 0.3; -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=40)"; border-radius: 7px; -webkit-border-radius: 7px; -moz-border-radius: 7px; }
.lb-h-scrollbar { z-index: 1; position: absolute; bottom: 2px; left: 2px; width: 100%; height: 7px; background: #cfcfcf; opacity: 0.3; -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=40)"; border-radius: 7px; -webkit-border-radius: 7px; -moz-border-radius: 7px; }
.lb-v-scrollbar-slider { position: absolute; width: 7px; height: 50px; left: 0; top: 0; background: #000; -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; border-radius: 7px; -webkit-border-radius: 7px; -moz-border-radius: 7px; }
.lb-h-scrollbar-slider { position: absolute; height: 7px; width: 50px; left: 0; top: 0; background: #000; -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; border-radius: 7px; -webkit-border-radius: 7px; -moz-border-radius: 7px; }


<!--[if IE 8]>
<style>
.lb-v-scrollbar { background: red; }
</style>
<![endif]-->

