html,  body,  div,  span,  applet,  object,  iframe,
h1,  h2,  h3,  h4,  h5,  h6,  p,  blockquote,  pre,
a,  abbr,  acronym,  address,  big,  cite,  code,
del,  dfn,  em,  img,  ins,  kbd,  q,  s,  samp,
small,  strike,    sub,  sup,  tt,  var,
b,  u,  i,  center,
dl,  dt,  dd,  ol,  ul,  li,
fieldset,  form,  label,  legend,
table,  caption,  tbody,  tfoot,  thead,  tr,  th, 
article,  aside,  canvas,  details,  embed, 
figure,  figcaption,  footer,  header,  hgroup, 
menu,  nav,  output,  ruby,  section,  summary,
time,  mark,  audio,  video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article,  aside,  details,  figcaption,  figure, 
footer,  header,  hgroup,  menu,  nav,  section {
    display: block;
}

ol,  ul {
    list-style: none;
}
blockquote,  q {
    quotes: none;
}
blockquote:before,  blockquote:after,
q:before,  q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/* CSS resets */


.jbmww_wrapper {
    width:280px; /* Resize the main container - min width suggested 280px */
    overflow:hidden;
    background-color:#FFF;
    border-radius:3px;
    box-shadow: 0px 1px 0px 1px rgba(0, 0, 0, 0.2);
    position: relative;
}

/* Header */

.jbww_head {
    width:280px;  /* Resize the head container - min width suggested 280px */
    height:258px;
    float:left;
    background-color:#f5f5f5; 
    border-radius: 3px 3px 0px 0px;
}

.jbww_head_top {
    width:280px; /* Resize the Location & Search container - min width suggested 280px */
    float:left;
}

.jbww_head_location {
    float:left;
    width:230px;

}

.jbww_head_location p {
    font-family:Arial, Helvetica, sans-serif;
    font-size:14px;
    font-weight:bold;
    color:#000;
    margin-left:7px;
    margin-top:5px;
    line-height:20px;
}

.jbww_head_location span {
    font-family:Arial, Helvetica, sans-serif;
    font-size:10px;
    text-transform:uppercase;
    color:#000;
    margin-left:7px;
}

.jbww_head_search {
    float:right;
}

.jbww_head_search a {
    float:right;
    width:26px;
    height:27px;
    background-image:url(../img/search_button.png);
    background-position:center;
    background-repeat:no-repeat;
    text-indent:-9999px;
    margin-right:7px;
    margin-top:8px;
    border:1px solid #f5f5f5;
    border-radius:3px;
}

.jbww_head_search a:hover {
    border:1px solid #000;
    border-radius:3px;
}

/* Header End */

/* Today Forecast */

.jbww_head_today_forecast_wrapper {
    width:100%; 
    float:left;
    overflow:hidden;
    margin-top:30px;
    
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.jbww_head_today_forecast {
    width:235px;
    margin:0 auto;
    overflow: hidden;
}

.jbww_head_today_forecast_icon {
    float:left;
}

.jbww_head_today_forecast_icon div {
    width:108px;
    height:108px;
}

.jbww_head_today_forecast_icon div.n-a {
    background-image:url("../img/big_icons_black/no_info.png");
}
.jbww_head_today_forecast_icon div.sunny {
    background-image:url("../img/big_icons_black/sunny.png");
}
.jbww_head_today_forecast_icon div.cloudy {
    background-image:url("../img/big_icons_black/cloudy.png");
}
.jbww_head_today_forecast_icon div.fog {
    background-image:url("../img/big_icons_black/fog.png");
}
.jbww_head_today_forecast_icon div.partlycloudy {
    background-image:url("../img/big_icons_black/partlycloudy.png");
}
.jbww_head_today_forecast_icon div.rainy {
    background-image:url("../img/big_icons_black/rainy.png");
}
.jbww_head_today_forecast_icon div.sleet {
    background-image:url("../img/big_icons_black/sleet.png");
}
.jbww_head_today_forecast_icon div.snowly {
    background-image:url("../img/big_icons_black/snowly.png");
}
.jbww_head_today_forecast_icon div.thunder {
    background-image:url("../img/big_icons_black/thunder.png");
}

.jbww_head_today_forecast_digit {
    float:right;
}

.jbww_head_today_forecast_digit p {
    font-family:Arial, Helvetica, sans-serif;
    font-size:60px;
    color:#000;
    font-weight:bold;
    line-height:110px;
    width:122px;
    text-align:center;
}

.jbww_head_today_wind_direction {
    float:left;
    margin-top:20px;
    margin-left:15px;
}

.jbww_head_today_wind_direction p {
    background-image:url(../img/wind_pos.png);
    background-repeat:no-repeat;
    background-position:left;
    text-indent:30px;
    font-family:Arial, Helvetica, sans-serif;
    font-size:10px;
    text-transform:uppercase;
    color:#000;
    line-height:30px;
    width:120px;
}

.jbww_head_today_wind_speed {
    float:right;
    margin-top:20px;
    margin-right:15px;
}

.jbww_head_today_wind_speed p {
    background-image:url(../img/wind_speed.png);
    background-repeat:no-repeat;
    background-position:left;
    text-indent:35px;
    font-family:Arial, Helvetica, sans-serif;
    font-size:10px;
    text-transform:uppercase;
    color:#000;
    line-height:30px;

}

.jbww_weekly_forecast_wrapper {
    width:100%;
    float:left;
    
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.jbww_weekly_forecast_day.odd {
    width:100%;
    height:43px;
    background-color:#ebebeb;
    float:left;
    margin-top:1px;

}

.jbww_weekly_forecast_day.even {
    width:100%;
    height:43px;
    background-color:#f5f5f5;
    float:left;
    margin-top:1px;

}


.jbww_weekly_forecast_date {
    float:left;
    font-family:Arial, Helvetica, sans-serif;
    font-size:12px;
    color:#818181;
    line-height:43px;
    text-indent:10px;
    width:120px;

}

.jbww_weekly_forecast_deg {
    font-family:Arial, Helvetica, sans-serif;
    font-size:12px;
    color:#818181;
    line-height:43px;
    text-align:center;
    text-indent: 10px;
    direction: rtl;
    float:right;
}

.jbww_weekly_forecast_icon {
    width:30px;
    margin-top:6px;
    float:left;
}

.jbww_weekly_forecast_icon div {
    width:30px;
    height:30px;
}
.jbww_weekly_forecast_icon div.n-a {
    background-image:url("../img/small_icons/no_info.png");
}
.jbww_weekly_forecast_icon div.sunny {
    background-image:url("../img/small_icons/sunny.png");
}
.jbww_weekly_forecast_icon div.cloudy {
    background-image:url("../img/small_icons/cloudy.png");
}
.jbww_weekly_forecast_icon div.fog {
    background-image:url("../img/small_icons/fog.png");
}
.jbww_weekly_forecast_icon div.partlycloudy {
    background-image:url("../img/small_icons/partlycloudy.png");
}
.jbww_weekly_forecast_icon div.rainy {
    background-image:url("../img/small_icons/rainy.png");
}
.jbww_weekly_forecast_icon div.sleet {
    background-image:url("../img/small_icons/sleet.png");
}
.jbww_weekly_forecast_icon div.snowly {
    background-image:url("../img/small_icons/snowly.png");
}
.jbww_weekly_forecast_icon div.thunder {
    background-image:url("../img/small_icons/thunder.png");
}

/* Today Forecast End */

.jbww_forecast_source {
    float:right;
    height:15px;
}

.jbww_forecast_source p {
    font-family:Arial, Helvetica, sans-serif;
    font-size:10px;
    color:#b1b1b1;
    line-height:15px;
    margin-right:5px;
}

.jbww_forecast_source a {
    text-decoration:none;
    color:#b1b1b1;
}

.jbww_forecast_source a:hover {
    color:#ec4444
}

/* Search Bar */

.jbww_search_bar {
    background-image: url("../img/search_bar.png");
    position: absolute;
    top:35px;
    right:15px;
    width:260px;
    height:52px;
    display: none;
}

.jbww_search_bar input {
    width:220px;
    height:30px;
    border:0;
    float:left;
    line-height: 30px;
    padding-left: 5px;
    padding-right: 5px;
    margin-top:14px;
    font-family: arial, helvetica, sans-serif;
    font-size: 12px;
    color:#969191;
}

.jbww_search_bar a.searchButton {
    width:24px;
    height:24px;
    border-radius: 2px;
    border: 1px solid #000;
    background-color:#fff;
    float:right;
    margin-top:16px;
    margin-right: 10px;
    background-image: url("../img/search_button.png");
    background-position: center;
    background-repeat: no-repeat;
}